@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/functions';

.Input {
  &__root {
    padding: 0.65rem 1rem;
    outline: none;
    width: 100%;
    margin: 0.5rem 0 0.35rem 0;
    border: none;
    border-radius: 3px;
    background-color: $color-light-bg-default;
    font-size: 0.95rem;
    border: 1px solid $color-primary-200;
  }

  &__error {
    color: $color-red;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  &__label {
    font-size: 0.85rem;
    font-family: inherit;
    @include theme() {
      color: theme-get('text-color');
    }
  }
}
