@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/functions';

.Input {
  &__root {
    padding: 0.8rem 1rem;
    outline: none;
    width: 100%;
    margin: 0.65rem 0;
    border: none;
    border-radius: 3px;
    background-color: $color-white-smoky;
    font-size: 0.95rem;
  }

  &__error {
  }
  &__label {
    font-size: 1.05rem;
    font-family: inherit;
    @include theme() {
      color: theme-get('text-color');
    }
  }
}
