@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/functions';

.Input {
  &__root {
    padding: 0.65rem 1rem;
    outline: none;
    width: 100%;
    margin: 0.65rem 0;
    border: none;
    border-radius: 3px;
    background-color: $color-white-smoky;
    font-size: 0.95rem;
  }

  &__error {
    color: $color-red;
    margin: 0 0 4px 4px;
    font-size: 0.85rem;
  }
  &__label {
    font-size: 1rem;
    font-family: inherit;
    @include theme() {
      color: theme-get('text-color');
    }
    @include sm() {
      font-size: 0.95rem;
    }
  }
}
