@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/functions';

.BookCard__root {
  border-radius: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;

  @include theme() {
    background-color: theme-get('card-bg');
  }

  & > a {
    display: contents;
  }

  @include sm() {
    flex-direction: column;
  }
}
.BookCard {
  &__title {
    @include theme() {
      color: theme-get('text-color');
    }
    font-size: 85%;
  }
  &__content {
    width: 100%;
    min-width: 0;
    padding: 1rem;
  }

  &__button {
    padding: 0.35rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 6px;
  }
}
