@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/functions';

.BookCard__root {
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 2;
    background-color: $color-black-smoky;
    content: '';
  }
  @include theme() {
    background-color: theme-get('card-bg');
  }
  height: 28rem;

  & > a {
    display: contents;
  }
}
.BookCard {
  &__title {
    @include theme() {
      color: theme-get('text-color');
    }
  }
  &__content {
    padding: 1rem;
    width: 100%;
    min-width: 0;
  }

  &__button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 6px;
  }
}
