@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

.Button__root {
  border: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  width: 12rem;
  padding: 1rem 0;
  @include md() {
    width: 10rem;
  }
  @include sm() {
    width: 8rem;
    padding: 0.75rem 0;
  }
}

.Button {
  &__contained {
    background-color: $color-primary-200;
    color: $color-white-smoky;
  }

  &__outlined {
    border: 2px solid $color-white-smoky;
    box-sizing: content-box;
    @include theme() {
      color: theme-get('text-color');
    }
  }
  &__text {
    font-family: inherit;
    font-weight: bold;
    width: 100%;
    font-size: 1.1rem;

    @include md() {
      font-size: 1rem;
    }

    @include sm() {
      font-size: 0.9rem;
    }
  }
  &__text--capitalize {
    text-transform: uppercase;
  }
  &__linkText {
    @extend .Button__text;
    color: inherit;
  }
}
