@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

.Button__root {
  border: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  min-width: 6rem;
  font-family: inherit;
}

.Button {
  &--contained {
    background-color: $color-primary-200;
    color: $color-white-smoky;
  }

  &--outlined {
    border: 1.8px solid $color-primary-200;
    box-sizing: content-box;
    @include theme() {
      color: theme-get('text-color');
    }
    background-color: transparent;
  }

  &__text--capitalize {
    text-transform: uppercase;
  }
  &--disabled {
    background-color: $color-primary-disabled;
    cursor: initial;
  }
}
