$color-primary: #6a5ad4;

$color-black-smoky: #1d1d1f;

$color-white-smoky: #f5f5f5;

$color-light-bg-default: #f7f7f7;

$color-dark-bg-default: #202020;

$color-primary-200: #5041b6;

$color-red: #bd020a;

$color-white: #fff;

$color-black: rgb(37, 36, 36);

$color-primary-disabled: #a69fdc;
