@import '../../../styles/functions';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.Product__root {
  min-height: calc(100vh - 11.2rem);
  @include theme() {
    background-color: theme-get('background-color');
  }
}

.Product {
  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    @include sm() {
      grid-template-columns: 1fr;
    }
  }
  &__itemContainer {
    display: grid;
    padding: 1rem 1rem 1rem 0;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    @include sm() {
      padding: 0.75rem;
    }
  }
}
