@import '../../../styles/functions';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.Typography__root {
  @include theme() {
    color: theme-get('text-color');
  }
  @include sm() {
    font-size: 0.8rem;
  }
  @include md() {
    font-size: 1.25rem;
  }
}

.Typography {
  &--200 {
    font-weight: 200;
  }
  &--300 {
    font-weight: 300;
  }
  &--300 {
    font-weight: 300;
  }
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--600 {
    font-weight: 600;
  }
  &--700 {
    font-weight: 700;
  }
  &--bold {
    font-weight: bold;
  }

  &--error {
    color: $color-red !important;
  }
  &--xs {
    font-size: 0.9rem;
  }
  &--sm {
    font-size: 1.1rem;
  }
  &--ssm {
    font-size: 1.25rem;
  }

  &--md {
    font-size: 1.5rem;
  }
  &--primary {
    color: $color-primary !important;
  }
}
