@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/functions';

.Sidebar__root {
  max-width: 16rem;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  margin: 1rem;
  border-radius: 4px;
  padding: 1rem;
  @include theme() {
    background-color: theme-get('card-bg');
    color: theme-get('text-color');
  }
  & input {
    cursor: pointer;
  }
}
