@import '../../../styles//variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

.Signin__root {
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  @include theme() {
    background-color: theme-get('background-color');
  }
}
.Signin {
  &__formContainer {
    width: 100%;
    max-width: 25rem;
    padding: 1.25rem 2rem;
    border-radius: 4px;
    min-height: 26rem;
    box-shadow: rgba(105, 102, 102, 0.02) 0px 1px 3px 0px, rgba(112, 118, 124, 0.15) 0px 0px 0px 1px;
    @include theme() {
      background-color: theme-get('common-bg');
    }
    @include sm() {
      box-shadow: none;
    }
  }

  &__button {
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    margin: 14px 0;
    @include sm() {
      font-size: 0.9rem;
    }
    width: 100%;
  }
}
