@import '../../../styles/mixins';

.RowSection {
  &__root {
    width: 100%;
    min-height: 20rem;
  }
  &__row {
    margin: 1rem 0;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }

  &__title {
    margin: 1.75rem 0;
    @include md() {
      margin: 1.45rem 0;
    }
    @include sm() {
      margin: 0.5rem 0;
    }
  }
}
