@import '../../../styles/functions';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.Navbar__root {
  padding: 1.25rem 0;
  position: sticky;
  z-index: 999;
  top: 0;
  @include theme() {
    background-color: theme-get('navbar-bg');
  }
  & a {
    color: $color-primary;
  }
  font-weight: bold;
}

.Navbar {
  &__IconContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    max-width: 16rem;
    @include sm() {
      max-width: 11rem;
    }
  }
  &__IconButton {
    @include theme() {
      color: $color-primary-200;
      font-size: 1.3rem;
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
  }
}
