@import '../../../styles/variables';

.Footer__root {
  background-color: $color-primary;
  height: 7rem;
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  color: $color-black-smoky;
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg {
    padding: 0 4px;
  }
}
