@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/functions';
.Footer__root {
  height: 7rem;
  font-family: inherit;
  text-align: center;
  color: $color-primary-200;
  & svg {
    margin: 0 3px;
    color: $color-red;
  }
  @include theme() {
    background-color: theme-get('navbar-bg');
  }
}
